tr {
    -webkit-box-shadow: inset 0 -1px 0 0 #aaa;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.051);
    box-shadow: rgb(170, 170, 170) 0px -1px 0px 0px inset;
}

.bold {
    font-weight: bold;
}

td {
    padding: 10px 0px 10px 0px;
}

td input,
td img {
    opacity: 0.32;
}

tr:hover * {
    opacity: 1;
    cursor: pointer;
}

tr td:first-child {
    padding-left: 18px;
    width: 50px;
}

tr td:last-child {
    width: 145px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.text-preview {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selected {
    background-color: rgb(194, 219, 255);
}